@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    var testID = Guid.NewGuid();
}

<button onclick="javascript:callUploadImagesApi('@testID')">上传文件</button>

<script>
    function callUploadImagesApi(objectID) {
        $.ajax({
            cache: false,
            type: 'POST',
            async: false,
            url: "../BusinessFile/SingleFile?objectID=" + objectID,
            success: function (data) {
                openUploadDialog(data);
            }
        });
    }

    function openUploadDialog(htmlString) {
        $.Dialog({
            shadow: true,
            overlay: false,
            draggable: true,
            icon: '<span class="icon-upload"></span>',
            title: 'Draggable window',
            width: 550,
            padding: 10,
            content: '',
            onShow: function () {
                $.Dialog.title("请选择需要上传的文件，支持多选。");
                $.Dialog.content(htmlString);
            }
        });
    }
</script>