@model NNCQ.Web.ViewModels.Organization.PersonVM


<div class="container">
    <h1>
        <a href="javascript:boGotoPageFromExtenal(1,'Person','List','@Model.ParentItemID')"><i class="icon-arrow-left-3 fg-darker smaller"></i></a>
        @Model.Name<small class="on-right">：个人详细数据</small>
    </h1>
</div>

