<!-- 单一文件的上传处理 -->
<form action="/api/CommonUploadProcess" enctype="multipart/form-data">
    <div>
        <table style="width:100%">
            <tr>
                <td>
                    <input type="file" id="singleFileUpload" name="singleFileUpload" class="button" style="width:100%;height:40px">
                </td>
                <td style="width:75px">
                    <button id="btnSingleFileUpload" class="button primary pull-right" type="button" style="height:40px">
                        <i class="icon-upload"></i> 上传
                    </button>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="progress-bar hide" id="overallbar" data-value="0"></div>
                </td>
                <td>
                    <div id="totalIndecator"></div>
                </td>
            </tr>
        </table>
        <div class="hide" id="filelistholder">
            <table style="width:100%">
                <tr>
                    <td><div id="uploadFileName"></div></td>
                    <td style="width:75px">
                        <div id="uploadFilePercent"></div>
                    </td>
                </tr>
            </table>
        </div>
        <div class="hide" id="displayUploadResult">

        </div>
        <div id="fileValidMessage"></div>
    </div>
</form>

<script type="text/javascript">

    $(function () {
        $('#singleFileUpload').fileupload({
            dataType: "json",
            url: "/api/CommonUploadProcess?isSingle=true&fileType=commonFile&relID=@ViewBag.ObjectID",
            limitConcurrentUploads: 1,
            sequentialUploads: true,
            progressInterval: 100,
            maxChunkSize: 4 * 1024 * 1024 * 1024,
            // 添加文件的时候事件
            add: function (e, data) {

                var isValidFile = true;
                var fileValidString = "";

                // 判断文件类型限制
                if (data.files[0].name.indexOf('com') > 0 || data.files[0].name.indexOf('exe') > 0 || data.files[0].name.indexOf('bat') > 0) {
                    isValidFile = false;
                    fileValidString = "受限制的文件类型，无法上传。";

                }
                // 判断文件大小限制
                if (data.files[0].size > 4 * 1024 * 1024 * 1024) {
                    isValidFile = false;
                    fileValidString = "文件大小超出限制范围，无法上传。";
                }
                $('#fileValidMessage').html("");
                $('#overallbar').removeClass('hide');
                var pb1 = $("#overallbar").progressbar();
                pb1.progressbar('value', 0);
                $("#totalIndecator").html('');

                $('#filelistholder').removeClass('hide');
                $('#uploadFileName').html(data.files[0].name);
                var fileSize = (data.files[0].size / 1024).toFixed(3);
                var sizeString = fileSize + 'K';
                if (fileSize > 1024) {
                    if (fileSize > 1024 * 1024) {
                        sizeString = (fileSize / (1024 * 1024)).toFixed(3) + 'G';
                    }
                    else {
                        sizeString = (fileSize / 1024).toFixed(3) + 'M';
                    }
                }
                $('#uploadFilePercent').html('（' + sizeString + '）');


                if (isValidFile == true) {
                    $('#btnSingleFileUpload').click(function () {
                        data.submit();
                    });
                }
                else {
                    $('#fileValidMessage').html("<span style='color:red'>" + fileValidString + "</span>");
                }
            },

            // 单个文件完成传输的事件，完成上传之后，更新上传文件的列表
            done: function (e, data) {
                refreshFileRecoder();
            },

            // 总体进度
            progressall: function (e, data) {
                var progress = parseInt(data.loaded / data.total * 100, 10);
                var pb = $("#overallbar").progressbar();
                pb.progressbar('value', progress);
                $("#totalIndecator").html('【' + progress + '%】');
                //
                if (progress == '100') {
                }
            },
            // 组件自动生成的进度数据
            progress: function (e, data) {
                var progress = parseInt(data.loaded / data.total * 100, 10);
            }
        });



    });

    // 刷新上传文件持久化处理之后的清单
    function refreshFileRecoder() {
        $.ajax({
            cache: false,
            type: 'POST',
            async: false,
            url: "../CommonUpload/GetSingleFileStatus?objectID=@ViewBag.ObjectID",
            dataType: 'json',
            success: function (dataResult) {
                // 关闭文件容器的显示
                $('#overallbar').addClass('hide');
                $('#filelistholder').addClass('hide');
                $("#totalIndecator").addClass('hide');
                // 显示上传成功后文件清单
                $('#displayUploadResult').removeClass('hide');
                $('#displayUploadResult').html(dataResult.InnerHtml);
            }
        });
    }

    // 删除已经上传的文件
    function deleteUploadFile(fileID)
    {
        $.ajax({
            cache: false,
            type: 'POST',
            async: false,
            url: "../CommonUpload/DeleteSingleFile?fileID="+fileID,
            dataType: 'json',
            success: function (dataResult) {
                // 关闭文件容器的显示
                $('#overallbar').addClass('hide');
                $('#filelistholder').addClass('hide');
                $("#totalIndecator").addClass('hide');
                // 显示上传成功后文件清单
                $('#displayUploadResult').removeClass('hide');
                $('#displayUploadResult').html(dataResult);
            }
        });
    }

</script>

