
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <script src="../../CkEditor/ckeditor.js"></script>

    <title>Index</title>
</head>
<body>
    <div> 
        <textarea class="ckeditor" id="a" name="a"></textarea>
    </div>
</body>
</html>
